<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 以下资源每个页面都需引用 --start -->
  <!-- 以下资源每个页面都需引用 --start -->
  <link rel="stylesheet" type="text/css" href="../../css/backend.min.css">
  <script src="../../js/common_dep.js"></script>
  <!-- end -->
  <!-- 以下内容可以根据需要引用 -->
  <!-- 图表插件 -->
  <!-- <script src="../js/plugins/chart.min.js"></script> -->
  <!-- 上传插件 -->
  <!-- <script src="../js/plugins/fileinput.min.js"></script> -->
  <!-- 时间选择插件 -->
  <script src="../../js/plugins/flatpickr.min.js"></script>
</head>

<body class="inside-header inside-aside ">
  <div id="main" role="main">
    <div class="tab-content tab-addtabs">
      <div id="content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- RIBBON -->
            <div id="ribbon">
              <ol class="breadcrumb pull-right">
                <li><a href="javascript:;">权限管理</a></li>
                <li><a href="/admin/auth/adminlog">管理员日志</a></li>
              </ol>
            </div>
            <!-- END RIBBON -->
            <div class="content">
              <div class="panel panel-default panel-intro">
                <div class="panel-heading">
                  <div class="panel-lead"><em>管理员日志</em>管理员可以查看自己所拥有的权限的管理员日志</div>
                </div>
                <div class="panel-body">
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="one">
                        <div class="widget-body common-table no-padding">
                            <div class="commonsearch-table hide">
                                <form class="form-horizontal" novalidate="" method="GET" action="/admin/auth/adminlog">
                                  <fieldset>
                                    <div class="row">
                                      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                        <label for="username"
                                          class="control-label col-xs-4">用户名</label>
                                        <div class="col-xs-8">
                                          <input type="text" class="form-control" name="username"
                                             placeholder="请输入用户名"></div>
                                      </div>
                                      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                        <label for="title"
                                          class="control-label col-xs-4">标题</label>
                                        <div class="col-xs-8">
                                          <input type="text" class="form-control" name="title" placeholder="模糊搜索"></div>
                                      </div>
                                      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3"><label for="url"
                                          class="control-label col-xs-4">Url</label>
                                        <div class="col-xs-8"><input type="text" class="form-control" name="url" value="" placeholder="Url"
                                            id="url" data-index="4"></div>
                                      </div>
                                      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3"><label for="ip"
                                          class="control-label col-xs-4">IP</label>
                                        <div class="col-xs-8"><input type="text" class="form-control" name="ip" value="" placeholder="IP"></div>
                                      </div>
                                      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                        <label for="createtime"
                                          class="control-label col-xs-4">开始时间</label>
                                        <div class="col-xs-8">
                                          <input 
                                           class="form-control date-time-picker" 
                                           data-date-format="Y-m-d H:i"
                                           data-min-date="2019-4-1 00:00"
                                           data-max-date="2019-4-8 23:59"
                                           data-disable-time="false"
                                           placeholder="请选择时间"
                                           data-default-date="2019-4-2 12:00"
                                           name="s-time"></div>
                                      </div>
                                      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                        <label for="status" class="control-label col-xs-4">状态</label>
                                        <div class="col-xs-8">
                                          <select class="form-control" name="status">
                                            <option value="">选择</option>
                                            <option value="normal">正常</option>
                                            <option value="hidden">隐藏</option>
                                          </select>
                                        </div>
                                        </div>
                                      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                          <label for="createtime"
                                            class="control-label col-xs-4">结束时间</label>
                                          <div class="col-xs-8">
                                            <input 
                                             class="form-control date-time-picker" 
                                             placeholder="请选择时间"
                                             name="e-time"></div>
                                        </div>
                                      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="col-sm-8 col-xs-offset-4"><button type="submit" class="btn btn-success"
                                            formnovalidate="">提交</button> <button type="reset" class="btn btn-default">重置</button> </div>
                                      </div>
                                    </div>
                                  </fieldset>
                                </form>
                              </div>
                            <div class="fixed-table-toolbar" >
                              <div class="bs-bars pull-left">
                                <div id="toolbar" class="toolbar">
                                  <a 
                                  href="javascript:;"
                                  data-url=""
                                  data-toggle="operate-table" 
                                  data-table-id="my-table-wrap" 
                                  class="btn btn-primary btn-refresh" 
                                  title="刷新" 
                                  data-button-type="refresh"><i class="fa fa-refresh"></i></a> 
                                  <a 
                                  href="javascript:;"
                                  data-url="/admin/edit" 
                                   data-toggle="operate-table" 
                                   data-table-id="my-table-wrap" 
                                   class="btn btn-success btn-add" 
                                   data-button-type="add"
                                   title="添加"><i class="fa fa-plus"></i>添加</a>
                                  <a 
                                  href="javascript:;"
                                  data-url="/admin/del"
                                  data-toggle="operate-table" 
                                  data-table-id="my-table-wrap" 
                                  class="btn btn-danger btn-del"
                                  data-button-type="multi-del"
                                  title="删除"><i class="fa fa-trash"></i> 删除</a>
                                  <div class="dropdown btn-group ">
                                    <a class="btn btn-primary btn-more dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-cog"></i> 更多</a>
                                    <ul class="dropdown-menu text-left" role="menu">
                                     <li><a 
                                        class="btn btn-link btn-multi"  
                                        data-table-id="my-table-wrap" 
                                        data-toggle="operate-table" 
                                        href="javascript:;"
                                        data-url="/admin/show"
                                        data-button-type="multi-show"
                                        ><i class="fa fa-eye"></i>设为正常</a></li>
                                      <li><a 
                                        class="btn btn-link btn-multi" 
                                        data-table-id="my-table-wrap"  
                                        data-toggle="operate-table" 
                                        href="javascript:;"
                                        data-url="/admin/hide"
                                        data-button-type="multi-hide"
                                        ><i class="fa fa-eye-slash"></i>设为隐藏</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="columns-right pull-right" style="margin-top:10px;margin-bottom:10px;">
                                <button 
                                class="btn btn-default" 
                                type="button" 
                                data-toggle="operate-table" 
                                data-table-id="my-table-wrap"
                                data-button-type="filter"
                                title="普通搜索"><i class="fa fa-search"></i></button></div>
                              <div class="columns columns-right btn-group pull-right">
                                <div class="keep-open btn-group" title="列"><button type="button" aria-label="columns"
                                    class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                      class="fa fa-th"></i> <span class="caret"></span></button>
                                  <ul class="dropdown-menu" role="menu">
                                    <form action="/uptate/xxx" method="POST">
                                    <li role="menuitem"><label><input type="checkbox" name="id" value="1" checked="checked"> ID</label></li>
                                    <li role="menuitem"><label><input type="checkbox" name="type" value="2" checked="checked"> 栏目类型</label>
                                    </li>
                                    <li role="menuitem"><label><input type="checkbox" name="name" value="3" checked="checked"> 名称</label></li>
                                    <li role="menuitem"><label><input type="checkbox" name="nickname" value="4" checked="checked"> 昵称</label>
                                    </li>
                                    <li role="menuitem"><label><input type="checkbox" name="flag" value="5" checked="checked"> 标志</label></li>
                                    <li role="menuitem"><label><input type="checkbox" name="image" value="6" checked="checked"> 图片</label>
                                    </li>
                                    <li role="menuitem"><label><input type="checkbox" name="weigh" value="7" checked="checked"> 权重</label>
                                    </li>
                                    <li role="menuitem"><label><input type="checkbox" name="status" value="8" checked="checked"> 状态</label>
                                    </li>
                                    <li role="menuitem"><label><input type="checkbox" name="operate" value="9" checked="checked"> 操作</label>
                                    </li>
                                    <li role="menuitem"><label><input type="checkbox" name="operate" value="9" checked="checked"> 操作</label>
                                    </li>
                                    <li style="padding-left: 19px"><button type="submit" class="btn btn-success btn-embossed">确定</button></li>
                                    </form>
                                  </ul>
                                </div>
                                <div class="export btn-group"><button class="btn btn-default dropdown-toggle" aria-label="export type" title="导出数据"
                                    data-toggle="dropdown" type="button" aria-expanded="false"><i class="fa fa-download icon-share"></i>
                                    <span class="caret"></span></button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li role="menuitem" data-type="json"><a href="javascript:void(0)">JSON</a></li>
                                    <li role="menuitem" data-type="xml"><a href="javascript:void(0)">XML</a></li>
                                    <li role="menuitem" data-type="csv"><a href="javascript:void(0)">CSV</a></li>
                                    <li role="menuitem" data-type="txt"><a href="javascript:void(0)">TXT</a></li>
                                    <li role="menuitem" data-type="doc"><a href="javascript:void(0)">MS-Word</a></li>
                                    <li role="menuitem" data-type="excel"><a href="javascript:void(0)">MS-Excel</a></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pull-right search"><input 
                                class="form-control"
                                data-url="/admin/search"
                                data-toggle="operate-table" 
                                data-table-id="my-table-wrap" 
                                data-button-type="search"
                                type="text" placeholder="搜索"></div>
                            </div>
                            
                          <table class="table table-hover table-bordered table-striped" id="my-table-wrap">
                              <thead class="thead-dark">
                                <tr>
                                  <td><input 
                                    data-table-id="my-table-wrap" 
                                    data-toggle="operate-table"  
                                    data-button-type="check"
                                    class="table-check-all"
                                    type="checkbox"></td>
                                  <th>id</th>
                                  <th>用户名</th>
                                  <th>标题</th>
                                  <th>Url</th>
                                  <th>IP</th>
                                  <th>设备</th>
                                  <th>创建时间</th>
                                  <th>操作</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr 
                                  data-table-id="my-table-wrap" 
                                  data-toggle="operate-table"  
                                  data-button-type="check"
                                  data-value="a" 
                                  class="table-check-one" >
                                  <td><input type="checkbox"></td>
                                  <td>1</td>
                                  <td>admin</td>
                                  <td>登录</td>
                                  <td>/admin/log/1</td>
                                  <td>192.168.1.100</td>
                                  <td>chrome</td>
                                  <td>2019-04-12 13:34:52</td>
                                  <td>
                                    <!-- data-toggle="operate-table"  表明是需要操作的按钮 -->
                                    <!-- data-original-title  按钮hover时的提示 -->
                                    <!-- data-table-id  操作的是哪个表格id,页面会出现多个表格的情况 -->
                                    <!-- data-row-index  操作的是第几行 -->
                                    <!-- data-button-type 操作的动作，目前仅支持，删除，修改 -->
                                    <!-- href 修改时编辑的页面地址 ,删除时的接口地址-->
                                    <a 
                                    href="javascript:;"
                                    data-url="/admin/edit?id=0" 
                                    class="btn btn-xs btn-success btn-editone" 
                                    data-toggle="operate-table" 
                                    data-table-id="my-table-wrap"   
                                    data-row-index="0" 
                                    data-button-type="edit"
                                    data-original-title="编辑"><i class="fa fa-pencil"></i></a> 
                                    <a 
                                    href="javascript:;"
                                    data-url="/admin/category/del/0"
                                    class="btn btn-xs btn-danger btn-delone" 
                                    data-toggle="operate-table" 
                                    data-table-id="my-table-wrap" 
                                    data-row-index="0" 
                                    data-button-type="del" 
                                    data-original-title="删除"><i class="fa fa-trash"></i></a>
                                    <a 
                                    href="javascript:;"
                                    data-url="/admin/detail?id=8"
                                    class="btn btn-info btn-xs btn-detail btn-dialog" 
                                    data-toggle="operate-table" 
                                    data-table-id="my-table-wrap"   
                                    data-row-index="0" 
                                    data-button-type="detail"
                                    data-original-title="详情"><i class="fa fa-list"></i>详情</a> 
                                  </td>
                                </tr>
                                <tr 
                                data-table-id="my-table-wrap" 
                                data-toggle="operate-table"  
                                data-button-type="check"
                                data-value="b" 
                                class="table-check-one">
                                  <td><input type="checkbox"></td>
                                  <td>2</td>
                                  <td>zhangsan</td>
                                  <td>登录</td>
                                  <td>/admin/log/1</td>
                                  <td>192.168.1.101</td>
                                  <td>IE</td>
                                  <td>2019-04-12 13:34:52</td>
                                  <td>
                                      <!-- data-toggle="operate-table"  表明是需要操作的按钮 -->
                                      <!-- data-original-title  按钮hover时的提示 -->
                                      <!-- data-table-id  操作的是哪个表格id,页面会出现多个表格的情况 -->
                                      <!-- data-row-index  操作的是第几行 -->
                                      <!-- data-button-type 操作的动作，目前仅支持，删除，修改 -->
                                      <!-- href 修改时编辑的页面地址 ,删除时的接口地址-->
                                      <a 
                                      href="javascript:;"
                                      data-url="/admin/edit?id=1" 
                                      class="btn btn-xs btn-success btn-editone" 
                                      data-toggle="operate-table" 
                                      data-table-id="my-table-wrap"   
                                      data-row-index="1" 
                                      data-button-type="edit"
                                      data-original-title="编辑"><i class="fa fa-pencil"></i></a> 
                                      <a 
                                      href="javascript:;"
                                      data-url="/admin/category/del/1"
                                      class="btn btn-xs btn-danger btn-delone" 
                                      data-toggle="operate-table" 
                                      data-table-id="my-table-wrap" 
                                      data-row-index="1" 
                                      data-button-type="del" 
                                      data-original-title="删除"><i class="fa fa-trash"></i></a>
                                      <a 
                                      href="javascript:;"
                                      data-url="/admin/detail?id=8"
                                      class="btn btn-info btn-xs btn-detail btn-dialog" 
                                      data-toggle="operate-table" 
                                      data-table-id="my-table-wrap"   
                                      data-row-index="1" 
                                      data-button-type="detail"
                                      data-original-title="详情"><i class="fa fa-list"></i>详情</a> 
                                    </td>
                                </tr>
                                <tr 
                                  data-table-id="my-table-wrap" 
                                  data-toggle="operate-table"  
                                  data-button-type="check"
                                  data-value="c" 
                                  class="table-check-one" >
                                  <td><input type="checkbox"></td>
                                  <td>3</td>
                                  <td>lisi</td>
                                  <td>登录</td>
                                  <td>/admin/log/4</td>
                                  <td>192.168.1.77</td>
                                  <td>safari</td>
                                  <td>2019-04-12 13:34:52</td>
                                  <td>
                                      <!-- data-toggle="operate-table"  表明是需要操作的按钮 -->
                                      <!-- data-original-title  按钮hover时的提示 -->
                                      <!-- data-table-id  操作的是哪个表格id,页面会出现多个表格的情况 -->
                                      <!-- data-row-index  操作的是第几行 -->
                                      <!-- data-button-type 操作的动作，目前仅支持，删除，修改 -->
                                      <!-- href 修改时编辑的页面地址 ,删除时的接口地址-->
                                      <a  
                                      href="javascript:;"
                                      data-url="/admin/edit?id=2" 
                                      class="btn btn-xs btn-success btn-editone" 
                                      data-toggle="operate-table" 
                                      data-table-id="my-table-wrap"   
                                      data-row-index="2" 
                                      data-button-type="edit"
                                      data-original-title="编辑"><i class="fa fa-pencil"></i></a> 
                                      <a 
                                      href="javascript:;"
                                      data-url="/admin/category/del/ids/2"
                                      class="btn btn-xs btn-danger btn-delone" 
                                      data-toggle="operate-table" 
                                      data-table-id="my-table-wrap" 
                                      data-row-index="2" 
                                      data-button-type="del" 
                                      data-original-title="删除"><i class="fa fa-trash"></i></a>
                                      <a 
                                      href="javascript:;"
                                      data-url="/admin/detail?id=8"
                                      class="btn btn-info btn-xs btn-detail btn-dialog" 
                                      data-toggle="operate-table" 
                                      data-table-id="my-table-wrap"   
                                      data-row-index="3" 
                                      data-button-type="detail"
                                      data-original-title="详情"><i class="fa fa-list"></i>详情</a> 
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                          <div class="fixed-table-pagination"
                            data-url="/admin/auth/adminlog"
                            data-toggle="table-pagination" 
                            data-table-id="my-table-wrap" 
                            data-page-size="25"
                            data-page-total="100"
                            data-page-index="1"
                           ></div>
                          </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>