<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 以下资源每个页面都需引用 --start -->
  <!-- 以下资源每个页面都需引用 --start -->
  <link rel="stylesheet" type="text/css" href="../css/backend.min.css">
  <script src="../js/bootstrap-jquery.min.js"></script>
  <script src="../js/plugins/echarts.min.js"></script>
  <!-- end -->
  <!-- 以下内容可以根据需要引用 -->
  <!-- 图表插件 -->
  <!-- <script src="../js/plugins/chart.min.js"></script> -->
  <!-- 上传插件 -->
  <!-- <script src="../js/plugins/fileinput.min.js"></script> -->
  <!-- 时间选择插件 -->
  <!-- <script src="../js/plugins/flatpickr.min.js"></script> -->
</head>

<body class="inside-header inside-aside" marginwidth="0" marginheight="0">
  <div id="main" role="main">
    <div class="tab-content tab-addtabs">
      <div id="content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- RIBBON -->
            <div id="ribbon">
              <ol class="breadcrumb pull-right">
                <li><a href="javascript:;" data-url="/admin/dashboard/dashboard">控制台</a></li>
              </ol>
            </div>
            <!-- END RIBBON -->
            <div class="content">
              <style type="text/css">
                
              </style>
              <div class="alert alert-danger-light">
                <b>温馨提示</b><br>
                1.演示站部分功能受限制，无法进行添加修改删除操作，<a href="https://www.fastadmin.net/download.html" target="_blank">请下载完整版体验</a><br>
                2.当前演示站为纯净版本，不安装任何插件，如果你需要体验安装插件的版本，<a href="https://demo.fastadmin.net/admin/" target="_blank">请点击这里体验</a>
              </div>
              <div class="panel panel-default panel-intro">
                <div class="panel-heading">
                  <div class="panel-lead"><em>控制台</em>用于展示当前系统中的统计数据、统计报表及重要实时数据</div>
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#one" data-toggle="tab" class="active">控制台</a></li>
                    <li><a href="#two" data-toggle="tab" class="">自定义</a></li>
                  </ul>
                </div>
                <div class="panel-body bar-info">
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="one">

                      <div class="row">
                        <div class="col-sm-3 col-xs-6">
                          <div class="sm-st clearfix">
                            <span class="sm-st-icon st-red"><i class="fa fa-users"></i></span>
                            <div class="sm-st-info">
                              <span>35200</span>
                              总会员数 </div>
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                          <div class="sm-st clearfix">
                            <span class="sm-st-icon st-violet"><i class="fa fa-book"></i></span>
                            <div class="sm-st-info">
                              <span>219390</span>
                              总访问数 </div>
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                          <div class="sm-st clearfix">
                            <span class="sm-st-icon st-blue"><i class="fa fa-shopping-bag"></i></span>
                            <div class="sm-st-info">
                              <span>32143</span>
                              总订单数 </div>
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                          <div class="sm-st clearfix">
                            <span class="sm-st-icon st-green"><i class="fa fa-cny"></i></span>
                            <div class="sm-st-info">
                              <span>174800</span>
                              总金额 </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-8">
                          <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                          <div id="echart-1" style="width:600px;height:240px;"></div>
                        </div>
                        <div class="col-lg-4">
                          <div class="card sameheight-item stats">
                            <div class="card-block">
                              <div class="row row-sm stats-container">
                                <div class="col-xs-6 stat-col">
                                  <div class="stat-icon"> <i class="fa fa-rocket"></i> </div>
                                  <div class="stat">
                                    <div class="value"> 430 </div>
                                    <div class="name"> 今日注册 </div>
                                  </div>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                                  </div>
                                </div>
                                <div class="col-xs-6 stat-col">
                                  <div class="stat-icon"> <i class="fa fa-shopping-cart"></i> </div>
                                  <div class="stat">
                                    <div class="value"> 321 </div>
                                    <div class="name"> 今日登录 </div>
                                  </div>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                  </div>
                                </div>
                                <div class="col-xs-6  stat-col">
                                  <div class="stat-icon"> <i class="fa fa-line-chart"></i> </div>
                                  <div class="stat">
                                    <div class="value"> 2324 </div>
                                    <div class="name"> 今日订单 </div>
                                  </div>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                  </div>
                                </div>
                                <div class="col-xs-6  stat-col">
                                  <div class="stat-icon"> <i class="fa fa-users"></i> </div>
                                  <div class="stat">
                                    <div class="value"> 132 </div>
                                    <div class="name"> 未处理订单 </div>
                                  </div>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                  </div>
                                </div>
                                <div class="col-xs-6  stat-col">
                                  <div class="stat-icon"> <i class="fa fa-list-alt"></i> </div>
                                  <div class="stat">
                                    <div class="value"> 80% </div>
                                    <div class="name"> 七日新增 </div>
                                  </div>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                  </div>
                                </div>
                                <div class="col-xs-6 stat-col">
                                  <div class="stat-icon"> <i class="fa fa-dollar"></i> </div>
                                  <div class="stat">
                                    <div class="value"> 32% </div>
                                    <div class="name"> 七日活跃 </div>
                                  </div>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row" style="margin-top:15px;">

                        <div class="col-lg-12">
                        </div>
                        <div class="col-xs-6 col-md-3">
                          <div class="panel bg-blue">
                            <div class="panel-body">
                              <div class="panel-title">
                                <span class="label label-success pull-right">实时</span>
                                <h5>分类统计</h5>
                              </div>
                              <div class="panel-content">
                                <h1 class="no-margins">1234</h1>
                                <div class="stat-percent font-bold text-gray"><i class="fa fa-commenting"></i> 1234
                                </div>
                                <small>当前分类总记录数</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                          <div class="panel bg-aqua-gradient">
                            <div class="panel-body">
                              <div class="ibox-title">
                                <span class="label label-info pull-right">实时</span>
                                <h5>附件统计</h5>
                              </div>
                              <div class="ibox-content">
                                <h1 class="no-margins">1043</h1>
                                <div class="stat-percent font-bold text-gray"><i class="fa fa-modx"></i> 2592</div>
                                <small>当前上传的附件数量</small>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-xs-6 col-md-3">
                          <div class="panel bg-purple-gradient">
                            <div class="panel-body">
                              <div class="ibox-title">
                                <span class="label label-primary pull-right">实时</span>
                                <h5>文章统计</h5>
                              </div>
                              <div class="ibox-content">

                                <div class="row">
                                  <div class="col-md-6">
                                    <h1 class="no-margins">1234</h1>
                                    <div class="font-bold"><i class="fa fa-commenting"></i> <small>评论次数</small></div>
                                  </div>
                                  <div class="col-md-6">
                                    <h1 class="no-margins">6754</h1>
                                    <div class="font-bold"><i class="fa fa-heart"></i> <small>点赞次数</small></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                          <div class="panel bg-green-gradient">
                            <div class="panel-body">
                              <div class="ibox-title">
                                <span class="label label-primary pull-right">实时</span>
                                <h5>新闻统计</h5>
                              </div>
                              <div class="ibox-content">

                                <div class="row">
                                  <div class="col-md-6">
                                    <h1 class="no-margins">5302</h1>
                                    <div class="font-bold"><i class="fa fa-commenting"></i> <small>评论次数</small></div>
                                  </div>
                                  <div class="col-md-6">
                                    <h1 class="no-margins">8205</h1>
                                    <div class="font-bold"><i class="fa fa-user"></i> <small>点赞次数</small></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-4">
                          <div class="box box-danger">
                            <div class="box-header">
                              <h3 class="box-title">最新新闻</h3>
                              <div class="box-tools pull-right">
                                <a href="https://www.fastadmin.net" target="_blank" class="btn btn-box-tool">更多</a>
                              </div>
                            </div>
                            <div class="box-body" id="news-list"><ul class="nav nav-stacked">
        
        
                              <li>
                                  <a href="https://www.fastadmin.net/act/thirdanniversary.html" target="_blank">
                                      <span class="text">FastAdmin三周年礼包活动正在进行中</span>
                                  </a>
                              </li>
                              
                              
                              <li>
                                  <a href="https://ask.fastadmin.net/" target="_blank">
                                      <span class="text">FastAdmin全新问答社区已经上线，欢迎体验！</span>
                                  </a>
                              </li>
                              
                              
                              <li>
                                  <a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank">
                                      <span class="text">2019新年福袋活动正在进行中</span>
                                  </a>
                              </li>
                              
                              
                              <li>
                                  <a href="https://www.fastadmin.net/news/71.html" target="_blank">
                                      <span class="text">ThinkPHP5再次发布安全更新版本，请注意升级</span>
                                  </a>
                              </li>
                              
                              
                              <li>
                                  <a href="https://www.fastadmin.net/news/70.html" target="_blank">
                                      <span class="text">FastAdmin官网全新积分功能上线</span>
                                  </a>
                              </li>
                              
                              
                              <li>
                                  <a href="https://www.fastadmin.net/news/69.html" target="_blank">
                                      <span class="text">FastAdmin已取得计算机软件著作权登记证书</span>
                                  </a>
                              </li>
                              
                              
                              <li>
                                  <a href="https://www.fastadmin.net/news/68.html" target="_blank">
                                      <span class="text">ThinkPHP5发布安全更新，请务必关注你的FastAdmin版本。</span>
                                  </a>
                              </li>
                              
                              
                              <li>
                                  <a href="https://forum.fastadmin.net/thread/5567" target="_blank">
                                      <span class="text">FastAdmin重磅推出强大的FormBuilder(表单生成器)功能</span>
                                  </a>
                              </li>
                              
                              
                              <li>
                                  <a href="https://www.fastadmin.net/store/blog.html" target="_blank">
                                      <span class="text">FastAdmin官方出品响应式博客(含小程序前后端)上架啦</span>
                                  </a>
                              </li>
                              
                              
                              <li>
                                  <a href="https://www.fastadmin.net/store/cms.html" target="_blank">
                                      <span class="text">FastAdmin官方出品CMS内容管理系统(含小程序前后端)上架啦</span>
                                  </a>
                              </li>
                              
                          </ul></div>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="box box-success">
                            <div class="box-header">
                              <h3 class="box-title">最新发贴</h3>
                              <div class="box-tools pull-right">
                                <a href="https://forum.fastadmin.net" class="btn btn-box-tool">更多</a>
                              </div>
                            </div>
                            <div class="box-body" id="discussion-list"><ul class="products-list product-list-in-box">
        
        
                              <li class="item">
                                  <div class="">
                                      <a href="https://ask.fastadmin.net/question/10416.html" target="_blank" class="product-title">修改开关的提示信息tip
                                          <span class="label label-warning pull-right"></span></a>
                                      <span class="product-description">
                                          
                                      </span>
                                  </div>
                              </li>
                              
                              
                              <li class="item">
                                  <div class="">
                                      <a href="https://ask.fastadmin.net/question/10415.html" target="_blank" class="product-title">如何自定义导出权限showExport？
                                          <span class="label label-warning pull-right"></span></a>
                                      <span class="product-description">
                                          
                                      </span>
                                  </div>
                              </li>
                              
                              
                              <li class="item">
                                  <div class="">
                                      <a href="https://ask.fastadmin.net/question/10414.html" target="_blank" class="product-title">UCenter 开启后前台登录报错：
                                          <span class="label label-warning pull-right"></span></a>
                                      <span class="product-description">
                                          
                                      </span>
                                  </div>
                              </li>
                              
                              
                              <li class="item">
                                  <div class="">
                                      <a href="https://ask.fastadmin.net/question/10413.html" target="_blank" class="product-title">Fast.api.open如何传参到子页面，子页面获取到传参的值
                                          <span class="label label-warning pull-right"></span></a>
                                      <span class="product-description">
                                          
                                      </span>
                                  </div>
                              </li>
                              
                              
                              <li class="item">
                                  <div class="">
                                      <a href="https://ask.fastadmin.net/question/10412.html" target="_blank" class="product-title">cms如何调用指定的某个标签呢
                                          <span class="label label-warning pull-right"></span></a>
                                      <span class="product-description">
                                          
                                      </span>
                                  </div>
                              </li>
                              
                              
                              <li class="item">
                                  <div class="">
                                      <a href="https://ask.fastadmin.net/question/10411.html" target="_blank" class="product-title">请问自定义操作按钮后，怎么在js页面传值
                                          <span class="label label-warning pull-right"></span></a>
                                      <span class="product-description">
                                          
                                      </span>
                                  </div>
                              </li>
                              
                              
                              <li class="item">
                                  <div class="">
                                      <a href="https://ask.fastadmin.net/question/10410.html" target="_blank" class="product-title">管理员数据限制问题求助
                                          <span class="label label-warning pull-right"></span></a>
                                      <span class="product-description">
                                          
                                      </span>
                                  </div>
                              </li>
                              
                              
                              <li class="item">
                                  <div class="">
                                      <a href="https://ask.fastadmin.net/question/10409.html" target="_blank" class="product-title">如何在js里面关闭当前的addtabs？
                                          <span class="label label-warning pull-right"></span></a>
                                      <span class="product-description">
                                          
                                      </span>
                                  </div>
                              </li>
                              
                              
                              <li class="item">
                                  <div class="">
                                      <a href="https://ask.fastadmin.net/question/10408.html" target="_blank" class="product-title">在查询的时候使用不了group分组吗
                                          <span class="label label-warning pull-right"></span></a>
                                      <span class="product-description">
                                          
                                      </span>
                                  </div>
                              </li>
                              
                              
                              <li class="item">
                                  <div class="">
                                      <a href="https://ask.fastadmin.net/question/10407.html" target="_blank" class="product-title">table一列显示多个字段
                                          <span class="label label-warning pull-right"></span></a>
                                      <span class="product-description">
                                          
                                      </span>
                                  </div>
                              </li>
                              
                          </ul></div>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="box box-info">
                            <div class="box-header">
                              <h3 class="box-title">服务器信息</h3>
                            </div>
                            <div class="box-body">
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td width="140">FastAdmin版本</td>
                                    <td>1.0.0.20181210_beta <a href="javascript:;" class="btn btn-xs btn-checkversion">检查最新版</a></td>
                                  </tr>
                                  <tr>
                                    <td>FastAdmin插件版本</td>
                                    <td>1.1.7</td>
                                  </tr>
                                  <tr>
                                    <td>运行方式</td>
                                    <td>fpm-fcgi</td>
                                  </tr>
                                  <tr>
                                    <td>调试模式</td>
                                    <td>否</td>
                                  </tr>
                                  <tr>
                                    <td>环境信息</td>
                                    <td>nginx/1.12.2</td>
                                  </tr>
                                  <tr>
                                    <td>上传模式</td>
                                    <td>local</td>
                                  </tr>
                                  <tr>
                                    <td>上传URL</td>
                                    <td>ajax/upload</td>
                                  </tr>
                                  <tr>
                                    <td>上传CDN</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>时区</td>
                                    <td>PRC</td>
                                  </tr>
                                  <tr>
                                    <td>静态资源CDN</td>
                                    <td>https://cdn.pure.fastadmin.net</td>
                                  </tr>
                                  <tr>
                                    <td>语言</td>
                                    <td>zh-cn</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="two">
                      <div class="row">
                        <div class="col-xs-12">
                          这里是你的自定义数据 </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
        //自执行函数包裹代码，最简易解决js命名冲突的方法
        (function(){
          // 表格相关功能，echarts.js 具体使用参见 https://echarts.baidu.com/examples/
          var myChart = echarts.init(document.getElementById('echart-1'));
          // 指定图表的配置项和数据
          var option = {
              title: {
                  text: 'ECharts 入门示例'
              },
              tooltip: {},
              legend: {
                  data:['销量']
              },
              xAxis: {
                  data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
              },
              yAxis: {},
              series: [{
                  name: '销量',
                  type: 'bar',
                  data: [5, 20, 36, 10, 10, 20]
              }]
          };
          // 使用刚指定的配置项和数据显示图表。
          myChart.setOption(option);
        })();
         
  </script>
</body>

</html>