<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords" content="刀锋内部后台" />
  <meta name="description" content="刀锋内部后台" />
  <title>Bootstrap-UI 管理后台-刀锋网络</title>
  <!-- 以下资源每个页面都需引用 --start -->
  <link rel="stylesheet" type="text/css" href="css/backend.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/allSkin.min.css">
  <link rel="stylesheet" type="text/css" href="css/adminLTE.min.css"> -->
  <script src="js/bootstrap-jquery.min.js"></script>
  <!-- <script src="js/jquery.addtabs.js"></script> -->
  <!-- end -->
  <!-- 以下内容可以根据需要引用 -->
  <!-- 图表插件 -->
  <!-- <script src="js/plugins/chart.min.js"></script> -->
  <!-- 上传插件 -->
  <!-- <script src="js/plugins/fileinput.min.js"></script> -->
  <!-- 时间选择插件 -->
  <!-- <script src="js/plugins/flatpickr.min.js"></script> -->
  <!-- <script src="js/addtabs.js"></script> -->
</head>

<body class="hold-transition skin-green sidebar-mini">
  <div class="wrapper">
    <header class="main-header">
      <!-- Logo -->
      <div class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b>LTE</span>
      </div>
      <!-- Header Navbar: style can be found in header.less -->
      <div id="firstnav">
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">切换导航</span>
        </a>
        <ul class="nav nav-tabs nav-addtabs disable-top-badge hidden-xs" role="tablist">
          <!-- <li role="presentation" id="tab_1" class="active"><a href="#con_1" node-id="1" aria-controls="1" role="tab" data-toggle="tab"><i class="fa fa-dashboard fa-fw fa-fw"></i> <span>控制台</span> </a></li> -->
        </ul>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li class="dropdown notifications-menu">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-success">4</span>
              </a>
              <ul class="dropdown-menu ">
                <li class="header">最新消息</li>
                <li>
                  <ul class="menu">
                    <li><a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank"><i
                      class="undefined"></i> 2019新年福袋活动正在进行中</a></li>
                    <li><a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank"><i
                      class="undefined"></i> 2019新年福袋活动正在进行中</a></li>
                    <li><a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank"><i
                      class="undefined"></i> 2019新年福袋活动正在进行中</a></li>
                    <li><a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank"><i
                      class="undefined"></i> 2019新年福袋活动正在进行中</a></li>
                    <li><a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank"><i
                      class="undefined"></i> 2019新年福袋活动正在进行中</a></li>
                    <li><a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank"><i
                      class="undefined"></i> 2019新年福袋活动正在进行中</a></li>
                    <li><a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank"><i
                      class="undefined"></i> 2019新年福袋活动正在进行中2019新年福袋活动正在进行中2019新年福袋活动正在进行中2019新年福袋活动正在进行中</a></li>
                    <li><a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank"><i
                      class="undefined"></i> 2019新年福袋活动正在进行中</a></li>
                  </ul>
                </li>
                <li class="footer"><a href="javascript:;">查看所有消息</a></li>
              </ul>
            </li>
            <li class="hidden-xs">
                <a href="#" data-toggle="fullscreen"><i class="fa fa-arrows-alt"></i></a>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <img src="img/avatar.png" class="user-image" alt="User Image">
                <span class="hidden-xs">管理员</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="img/avatar.png" class="img-circle" alt="User Image">
                  <p> 超级管理员<small>2019-4-11 19:00</small></p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="javascipt:;" class="btn btn-primary addtabsit"><i class="fa fa-user"></i>个人配置</a>
                    </div>
                    <div class="pull-right">
                        <a href="javascipt:;" class="btn btn-danger" data-toggle="logOut"><i class="fa fa-sign-out"></i>注销</a>
                    </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="img/avatar.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>管理员</p>
            <a href="javascript:;"><i class="fa fa-circle text-success"></i> 在线</a>
          </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu ">
            <li><a href="/admin/dashboard" data-nav-id="1">
              <i class="fa fa-dashboard fa-fw"></i> <span>控制台</span><span class="pull-right-container">
                  <small class="label pull-right bg-blue">hot</small></span></a></li>
            <li class=" treeview"><a href="javascript:;" data-nav-id="2" >
              <i class="fa fa-cogs fa-fw"></i><span>常规管理</span> <span class="pull-right-container">
                <small class="label pull-right bg-purple">new</small></span></a>
              <ul class="treeview-menu">
                <li class=""><a href="/admin/general/config" data-nav-id="6">
                  <i class="fa fa-cog fa-fw"></i><span>系统配置</span><span class="pull-right-container"></span></a></li>
                <li class=""><a href="/admin/general/attachment" data-nav-id="7">
                  <i class="fa fa-file-image-o fa-fw"></i> <span>附件管理</span><span
                      class="pull-right-container"> </span></a></li>
                <li class=""><a href="/admin/general/profile" data-nav-id="8">
                  <i class="fa fa-user fa-fw"></i> <span>个人配置</span><span class="pull-right-container"></span></a> </li>
              </ul>
            </li>
            <li class=""><a href="/admin/category" data-nav-id="3">
              <i class="fa fa-list fa-fw"></i><span>分类管理</span><span class="pull-right-container"></span></a> </li>
              <li class=" treeview"><a href="javascript:;" data-nav-id="5"><i
                  class="fa fa-group fa-fw"></i> <span>权限管理</span> <span class="pull-right-container"><i
                    class="fa fa-angle-left"></i> </span></a>
              <ul class="treeview-menu">
                <li class=""><a href="/admin/auth/admin" data-nav-id="9"><i class="fa fa-user fa-fw"></i> <span>管理员管理</span> <span
                      class="pull-right-container"> </span></a> </li>
                <li class=""><a href="/admin/auth/adminlog" data-nav-id="10"><i class="fa fa-list-alt fa-fw"></i> <span>管理员日志</span> <span
                      class="pull-right-container"> </span></a> </li>
                <li class=""><a href="/admin/auth/group" data-nav-id="11"><i class="fa fa-group fa-fw"></i> <span>角色组</span> <span class="pull-right-container">
                    </span></a> </li>
                <li class=""><a href="/admin/auth/rule" data-nav-id="12"><i class="fa fa-bars fa-fw"></i> <span>菜单规则</span> <span class="pull-right-container"><small class="label pull-right bg-purple">菜单</small></span></a> </li>
              </ul>
            </li>
            <li class=" treeview"><a href="javascript:;" data-nav-id="66" ><i
                  class="fa fa-list fa-fw"></i> <span>会员管理</span><span class="pull-right-container"><i
                    class="fa fa-angle-left"></i> </span></a>
              <ul class="treeview-menu">
                <li class=""><a href="/admin/user/user" data-nav-id="67">
                  <i class="fa fa-user fa-fw"></i><span>会员管理</span><span class="pull-right-container"></span></a></li>
                <li class=""><a href="/admin/user/group" data-nav-id="73">
                  <i class="fa fa-users fa-fw"></i><span>会员分组</span><span class="pull-right-container"></span></a></li>
                <li class=""><a href="/admin/user/rule" data-nav-id="79">
                  <i class="fa fa-circle-o fa-fw"></i> <span>会员规则</span><span class="pull-right-container"></span></a></li>
              </ul>
            </li>
            <!--以下4行可以删除或改成自己的链接,但建议你在你的网站上添加一个FastAdmin的链接-->
            <li class="header">相关链接</li>
            <li><a href="https://doc.fastadmin.net" target="_blank"><i class="fa fa-list text-red"></i><span>官方文档</span></a></li>
            <li><a href="https://forum.fastadmin.net" target="_blank"><i class="fa fa-comment text-yellow"></i><span>交流社区</span></a></li>
            <li><a href="https://jq.qq.com/?_wv=1027&k=487PNBb" target="_blank"><i class="fa fa-qq text-aqua"></i> <span>QQ交流群</span></a></li>
          </ul>
      
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- 页面主逻辑-->
    <div class="content-wrapper tab-content tab-addtabs" id="app-main-content"></div>
  </div>
  <script src="js/index.js"></script>
  <script>
// layer.confirm('您是如何看待前端开发？', {
//   btn: ['重要','奇葩'] //按钮
// }, function(){
//   layer.msg('的确很重要', {icon: 1});
// }, function(){
//   layer.msg('也可以这样', {
//     time: 20000, //20s后自动关闭
//     btn: ['明白了', '知道了']
//   });
// });
  </script>
</body>

</html>