<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords" content="刀锋内部后台" />
  <meta name="description" content="刀锋内部后台" />
  <title>Bootstrap-UI 管理后台-刀锋网络</title>
  <!-- 以下资源每个页面都需引用 --start -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/bootstrap-jquery.min.js"></script>
  <!-- end -->
  <!-- 以下内容可以根据需要引用 -->
  <!-- 图表插件 -->
  <script src="js/plugins/chart.min.js"></script>
  <!-- 上传插件 -->
  <script src="js/plugins/fileinput.min.js"></script>
  <!-- 时间选择插件 -->
  <script src="js/plugins/flatpickr.min.js"></script>
</head>

<body class="app sidebar-mini rtl">
  <!-- 顶部导航菜单-->
  <header class="app-header"><a class="app-header__logo" href="#/"><span>刀锋网络</span></a>
    <!-- Sidebar toggle button-->
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- 面包屑导航 -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item">看板</li>
      <li class="breadcrumb-item active">Data Table</li>
    </ol>
    <!-- 右侧功能菜单-->
    <ul class="app-nav">
      <li class="app-search" style="display:none">
        <input class="app-search__input" type="search" placeholder="Search">
        <button class="app-search__button"><i class="fa fa-search"></i></button>
      </li>
      <!--消息提示菜单-->
      <li class="dropdown"><a class="app-nav__item" href="javascript:;" data-toggle="dropdown"
          aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
        <ul class="app-notification dropdown-menu dropdown-menu-right">
          <li class="app-notification__title">您有4条未读消息</li>
          <div class="app-notification__content">
            <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span
                    class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i
                      class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                <div>
                  <p class="app-notification__message">李四发来消息</p>
                  <p class="app-notification__meta">2 分钟之前</p>
                </div>
              </a></li>
          </div>
          <li class="app-notification__footer"><a href="#">查看所有未读消息</a></li>
        </ul>
      </li>
      <!-- 用户菜单-->
      <li class="dropdown">
        <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i
            class="fa fa-user fa-lg"></i></a>
        <ul class="dropdown-menu settings-menu dropdown-menu-right">
          <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-cog fa-lg"></i>设置</a></li>
          <li id="logout-btn"><a class="dropdown-item" href="javascript:;"><i class="fa fa-sign-out fa-lg"></i>退出</a>
          </li>
        </ul>
      </li>
    </ul>
  </header>
  <!-- 侧边菜单-->
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="img/avatar.png" alt="User Image">
      <div>
        <p class="app-sidebar__user-name">张三</p>
        <p class="app-sidebar__user-designation">管理员</p>
      </div>
    </div>
    <ul class="app-menu">
      <li class="side-menu-item">
        <a class="app-menu__item" href="/dashboard/index?id=1">
          <i class="app-menu__icon fa fa-dashboard"></i>
          <span class="app-menu__label">看板</span></a>
      </li>
      <li class="treeview side-menu-item">
        <a class="app-menu__item" href="javascript:;" data-toggle="treeview">
          <i class="app-menu__icon fa fa-laptop"></i>
          <span class="app-menu__label">表格</span>
          <i class="treeview-indicator fa fa-angle-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <a class="treeview-item" href="/table/data/index"><i class="icon fa"></i>数据表格</a>
          </li>
          <li>
            <a class="treeview-item" href="/table/basic/index"><i class="icon fa"></i>基础表格</a>
          </li>
        </ul>
      </li>
      <li class="side-menu-item">
        <a class="app-menu__item" href="/form/index">
          <i class="app-menu__icon fa fa-dashboard"></i>
          <span class="app-menu__label">表单</span></a>
      </li>
      <li class="side-menu-item">
        <a class="app-menu__item" href="/chart/index">
          <i class="app-menu__icon fa fa-dashboard"></i>
          <span class="app-menu__label">图表</span></a>
      </li>
    </ul>
  </aside>
  <main class="app-content" id="app-main-content">
  </main>
  <!-- 退出提示弹窗 -->

  <div class="modal fade" id="myLogOutPop">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">提示</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- 模态框主体 -->
        <div class="modal-body">
          确定退出？
        </div>
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          <button type="button" id="confirmLogOut" class="btn btn-primary" data-dismiss="modal">确定</button>
        </div>

      </div>
    </div>
  </div>
  <!-- 首页入口主逻辑 -->
  <script>
  //页面主逻辑功能，切勿移除，否则加载逻辑和左侧菜单将会工作不正常
  // ------------------start-----------------------
    // 侧边栏收起相关操作
    (function () {
      $('[data-toggle="sidebar"]').click(function (event) {
        event.preventDefault();
        $('.app').toggleClass('sidenav-toggled');
        $(".app-header__logo").toggleClass('home-logo-toggled');
      });
  
    //左侧菜单栏相关功能

      $(".app-menu .side-menu-item").click(function (e) {
        //获取点击的元素给其添加样式，讲其兄弟元素的样式移除
        $(this).addClass("active").siblings().removeClass("active");
        //包含二级菜单的选项展开
        var $expand = $(e.target).parent("[data-toggle='treeview']").length > 0 ? $(e.target).parent("[data-toggle='treeview']") : $(e.target);
        if ($expand.attr('data-toggle') === 'treeview') {
          var $parent = $expand.parent();
          var $child = $parent.children(".treeview-menu");
          if ($parent.hasClass("is-expanded")) {
            $parent.removeClass('is-expanded');
            $child.css("height", "0px")
          } else {
            var _height = $child.children("li").height() * $child.children("li").length;
            $child.css("height", (_height) + "px")
            $parent.addClass('is-expanded');
          }
   
   
        }
        //移除所有二级菜单的样式
        ($(this).parent().children(".is-expanded").children(".treeview-menu").find("li")).removeClass("active");
        $(this).siblings(".is-expanded").removeClass("is-expanded").children(".treeview-menu").css("height", "0px")
        //激活二级菜单的样式
        if ($(this).hasClass("is-expanded")) {
          $(e.target).parent("li").addClass("active");
        }
   
      });
   
   
   
    //侧边菜单mini模式时的交互效果
      $(".app-menu .treeview").hover(function () {
        if ($('body').hasClass("sidenav-toggled")) {
          var $child = $(this).children(".treeview-menu");
          var _height = $child.children("li").height() * $child.children("li").length;
          $child.css("height", (_height) + "px")
        }
      }, function () {
        if ($('body').hasClass("sidenav-toggled")) {
          $(this).children(".treeview-menu").css("height", "0")
        }
      })
   
   
    //路由功能，实现hash模式的路由
      var $treeviewMenu = $('.app-menu');
      var _router = {
        init: function ($wrap, $viewMenu) {
          var that = this;
          this._query = this.routerQuery();
          //重定向或初始化
          this.redirect($viewMenu, this._query, $wrap);
          //监听hash变化
          window.onhashchange = function (e) {
            var _newPath = (e.newURL).substring(e.newURL.indexOf("#") + 1)
            that.taggleFrame($wrap, _newPath)
          }
        },
        redirect: function ($viewMenu, _query, $wrap) {
          var $routerPath = [],
            $router = $viewMenu.find("a");
          for (var k = 0; k < $router.length; k++) {
            var _href = $router.eq(k).attr("href")
            if (_href.match(/^\//g) && $routerPath.indexOf(_href) == -1) {
              $routerPath.push(_href)
            }
          }
          if ($routerPath.indexOf(_query.full) == -1) {
            window.location.hash = "#" + $routerPath[0];
            this.initMenu($routerPath[0], $viewMenu)
          } else {
            this.initMenu(_query.full, $viewMenu);
            this.creatFrame($wrap, _query.full);
          }
   
        },
        initMenu: function (path, $viewMenu) {
          //阻止A标签的跳转，手动强制为hash模式
          $viewMenu.find("a").click(function (e) {
            e.preventDefault();
            var _href = $(this).attr("href")
            if (_href.match(/^\//g)) {
              window.location.hash = _href;
            }
          });
          var $menu = ($viewMenu.find("a[href='" + path + "']")).eq(0);
          if ($menu.parents(".treeview")) {
            $menu.parents(".treeview").eq(0).children("[data-toggle='treeview']").click()
          }
          $menu.click();
        },
        routerQuery: function () {
          var _allPath = (window.location.hash).substring(1);
          var _allPathArr = _allPath.split("?");
          return {
            path: _allPathArr[0] ? _allPathArr[0] : "/",
            query: this.getSearchKey((_allPathArr[1] || "")),
            full: _allPath
          };
        },
        getSearchKey: function (argStr) {
          var argObj = {},
            item = null,
            value = null,
            key = null,
            argArr = argStr.length > 0 ? argStr.split("&") : [];
          for (var i = 0, len = argArr.length; i < len; i++) {
            item = argArr[i].split("=");
            key = item[0];
            value = item[1];
            argObj[key] = value;
          }
          return argObj
        },
        taggleFrame($wrap, path) {
          //过滤search参数
          var _path = path.split("?")[0] ? path.split("?")[0] : path;
          var _target = $wrap.find("div[data-index='" + _path + "']");
          $wrap.children(".tab-pane").removeClass("active");
          if (_target.length > 0) {
            _target.toggleClass("active")
          } else {
            //初始化创建
            this.creatFrame($wrap, path)
   
          }
        },
        creatFrame: function ($wrap, path) {
          var _str = '<div class="tab-pane active" data-index="' + path + '">';
          _str += '<iframe src="' + path + '" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling-x="no" scrolling-y="auto" allowtransparency="yes"></iframe>'
          _str += '</div>';
          $wrap.append(_str)
        }
      }
      //初始化操作
      _router.init($("#app-main-content"), $treeviewMenu);
    })();
   
    $('[data-toggle="popover"]').popover();
   //---------------------end-----------------


    //退出功能
    $('#logout-btn').click(function () {
      $("#myLogOutPop").modal({})
    })
    $("#confirmLogOut").click(function () {
      // 退出时的相关功能
      // do some thing...
      window.location.href="/"
    })
    
  </script>
</body>

</html>