<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"> -->
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords" content="刀锋内部后台" />
  <meta name="description" content="刀锋内部后台" />
  <!--[if lte IE 8]><div style="margin-top:100px"><img style="margin:0 auto;width:200px;display:block" src="//s29.9956.cn/res/bxd365/images/error-tips.jpg" /><p style="text-align: center;">你的浏览器实在<strong>太太太太太太旧了</strong>，请升级浏览器！！<a target="_blank" href="http://rj.baidu.com/soft/detail/14744.html">立即升级</a></div><![endif]-->
  <title>Bootstrap-UI 管理后台-刀锋网络</title>
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
 
</head>

<body class="app sidebar-mini rtl">
  <!-- 顶部导航菜单-->
  <header class="app-header"><a class="app-header__logo" href="#/"><span>刀锋网络</span></a>
    <!-- Sidebar toggle button-->
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
      aria-label="Hide Sidebar"></a>
      <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">看板</li>
        <li class="breadcrumb-item active">Data Table</li>
      </ul>
    <!-- 右侧功能菜单-->
    <ul class="app-nav">
      <li class="app-search" style="display:none">
        <input class="app-search__input" type="search" placeholder="Search">
        <button class="app-search__button"><i class="fa fa-search"></i></button>
      </li>
      <!--消息提示菜单-->
      <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i
            class="fa fa-bell-o fa-lg"></i></a>
        <ul class="app-notification dropdown-menu dropdown-menu-right">
          <li class="app-notification__title">您有4条未读消息</li>
          <div class="app-notification__content">
            <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span
                    class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i
                      class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                <div>
                  <p class="app-notification__message">李四发来消息</p>
                  <p class="app-notification__meta">2 分钟之前</p>
                </div>
              </a></li>
          </div>
          <li class="app-notification__footer"><a href="#">查看所有未读消息</a></li>
        </ul>
      </li>
      <!-- 用户菜单-->
      <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i
            class="fa fa-user fa-lg"></i></a>
        <ul class="dropdown-menu settings-menu dropdown-menu-right">
          <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-cog fa-lg"></i>设置</a></li>
          <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i>个人中心</a></li>
          <li><a class="dropdown-item" href="page-login.html"><i class="fa fa-sign-out fa-lg"></i>退出</a></li>
        </ul>
      </li>
    </ul>
  </header>
  <!-- 侧边菜单-->
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar"
        src="img/avatar.png" alt="User Image">
      <div>
        <p class="app-sidebar__user-name">张三</p>
        <p class="app-sidebar__user-designation">管理员</p>
      </div>
    </div>
    <ul class="app-menu">
        <li class="side-menu-item">
            <a class="app-menu__item" href="/dashboard/index?id=1" >
            <i class="app-menu__icon fa fa-dashboard"></i>
            <span class="app-menu__label">看板</span></a>
        </li>
        <li class="treeview side-menu-item">
          <a class="app-menu__item" href="javascript:;" data-toggle="treeview">
            <i class="app-menu__icon fa fa-laptop"></i>
            <span class="app-menu__label">表格</span>
            <i class="treeview-indicator fa fa-angle-right"></i>
          </a>
          <ul class="treeview-menu">
            <li>
              <a class="treeview-item" href="/table/data/index"><i class="icon fa"></i>数据表格</a>
            </li>
            <li>
              <a class="treeview-item" href="/table/basic/index"><i
                  class="icon fa"></i>基础表格</a>
            </li>
          </ul>
        </li>
        <li class="side-menu-item">
          <a class="app-menu__item" href="/dashboard/index" >
          <i class="app-menu__icon fa fa-dashboard"></i>
          <span class="app-menu__label">测试2</span></a>
        </li>
        <li class="treeview side-menu-item">
          <a class="app-menu__item" href="javascript:;" data-toggle="treeview">
            <i class="app-menu__icon fa fa-laptop"></i>
            <span class="app-menu__label">权限管理2</span>
            <i class="treeview-indicator fa fa-angle-right"></i>
          </a>
          <ul class="treeview-menu">
            <li>
              <a class="treeview-item" href="/auth/admin/index"><i class="icon fa"></i>管理员管理2</a>
            </li>
            <li>
              <a class="treeview-item" href="/auth/adminlog/index"><i
                  class="icon fa"></i>管理员日志2</a>
            </li>
          </ul>
        </li>
      </ul>
  </aside>
  <main class="app-content" id="app-main-content">
  </main>
  <!-- Essential javascripts for application to work-->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <!-- The javascript plugin to display page loading on top-->
  <!-- <script src="js/plugins/pace.min.js"></script> -->
  <!-- Page specific javascripts-->
</body>

</html>