<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="刀锋内部后台" />
    <meta name="description" content="刀锋内部后台" />
    <title>Bootstrap-UI 管理后台-刀锋网络</title>
    <!-- 以下资源每个页面都需引用 --start -->
    <link rel="stylesheet" type="text/css" href="css/backend.min.css">
    <script src="js/bootstrap-jquery.min.js"></script>
    <!-- end -->
  </head>
<body class="login-wrap">
  <div class="container">
    <div class="login-wrapper">
      <div class="login-screen">
        <div class="well">
          <div class="login-form">
            <!-- <p>欢迎登录xxx管理后台</p> -->
            <p id="profile-name" class="profile-name-card"
              style="color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.15);">欢迎登录xxx管理后台</p>
            <form action="/index" method="GET" id="login-form">
              <div id="errtips" class="hide"></div>
              <input type="hidden" name="__token__" value="eee50027d46b4ecc28199dc879d16d0c" />
              <div class="input-group">
                <div class="input-group-addon"><span class="fa fa-user" aria-hidden="true"></span></div>
                <input type="text" class="form-control" id="pd-form-username" placeholder="用户名" name="username"
                  autocomplete="off" value="" data-rule="用户名:required;username" />
              </div>

              <div class="input-group">
                <div class="input-group-addon"><span class="fa fa-lock" aria-hidden="true"></span></div>
                <input type="password" class="form-control" id="pd-form-password" placeholder="密码" name="password"
                  autocomplete="off" value="" data-rule="密码:required;password" />
              </div>
              <div class="form-group animated-checkbox">
                <label class="inline" for="keeplogin">
                  <input type="checkbox" name="keeplogin" id="keeplogin" value="1" />
                  <span class="label-text">保持登录</span></label>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block" data-toggle="logIn">登 录</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>