<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" type="text/css" href="../css/backend.min.css">
  <script src="../js/common_dep.js"></script>
  <script src="../js/plugins/fileinput.min.js"></script>
</head>

<body class="inside-header inside-aside is-dialog">
  <div id="main" role="main">
    <div class="tab-content tab-addtabs">
      <div id="content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="content">
              <!-- 上传组件  -->
              <!-- data-upload-url：上传地址 -->
              <!--data-dropZone-enabled：是否显示拖拽区域，默认显示  -->
              <input 
              id="files-upload-1"
              class="files-upload-wrap" 
              data-default-imgurl=""
              data-upload-url="/api/upload"
              data-drop-zone="true"
              data-accept="jpg,png,gif"
              data-extra-data='TOKEN=123&name=456'
              data-max-size="1000"
              type="file">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      //上传成功后的回调
    $("#files-upload-1").on("fileuploaded", function (event, data, previewId, index) { 
      console.log([event, data, previewId, index])
    })
  </script>
</body>

</html>