<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 以下资源每个页面都需引用 --start -->
  <!-- 以下资源每个页面都需引用 --start -->
  <link rel="stylesheet" type="text/css" href="../../css/backend.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="../../css/validator.min.css"> -->
  <script src="../../js/bootstrap-jquery.min.js"></script>
</head>

<body class="inside-header inside-aside ">
  <div id="main" role="main">
    <div class="tab-content tab-addtabs">
      <div id="content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <section class="content-header hide">
              <h1>
                控制台 <small>Control panel</small>
              </h1>
            </section>
            <!-- RIBBON -->
            <div id="ribbon">
              <ol class="breadcrumb pull-left"></ol>
              <ol class="breadcrumb pull-right">
                <li><a href="javascript:;" data-url="/admin/general.attachment/general">常规管理</a></li>
                <li><a href="javascript:;" data-url="/admin/general/attachment">附件管理</a></li>
              </ol>
            </div>
            <!-- END RIBBON -->
            <div class="content">
              <div class="panel panel-default panel-intro">
                <div class="panel-heading">
                  <div class="panel-lead"><em>系统配置</em>可以在此增改系统的变量和分组,也可以自定义分组和变量,如果需要删除请从数据库中删除</div>
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#basic" data-toggle="tab" aria-expanded="true">基础配置</a></li>
                    <li><a href="#addcfg" data-toggle="tab" aria-expanded="false"><i class="fa fa-plus"></i></a></li>
                  </ul>
                </div>

                <div class="panel-body">
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="basic">
                      <div class="widget-body no-padding">
                        <form class="edit-form form-horizontal validator-form"
                          method="POST" 
                          action="/admin/general.config/edit">
                          <table id="my-table-wrap-1" class="table table-striped">
                              <thead>
                                <tr>
                                  <th>变量标题</th>
                                  <th>变量值</th>
                                  <th>变量名</th>
                                  <th width="2%"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>站点名称</td>
                                  <td>
                                    <div class="row">
                                      <div class="col-sm-8 col-xs-12">
                                       <input type="text" name="_site" value="" class="form-control" placeholder="请输入站点名称" data-rule="required;"></div>
                                    </div>
                                  </td>
                                  <td>{$site.name}</td>
                                  <td><a 
                                    href="javascript:;" 
                                    data-url="" 
                                    data-toggle="operate-table" 
                                    data-table-id="my-table-wrap-1" 
                                    data-row-index="0" 
                                    data-button-type="del" 
                                    data-original-title="删除"
                                    class="btn-delcfg text-muted" data-name="name"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>备案号</td>
                                    <td>
                                      <div class="row">
                                        <div class="col-sm-8 col-xs-12">
                                         <input type="text" name="_back" value="" class="form-control" placeholder="请输入备案号" data-rule="required;"></div>
                                      </div>
                                    </td>
                                    <td>{$site.name}</td>
                                    <td><a 
                                      href="javascript:;" 
                                      data-url="" 
                                      data-toggle="operate-table" 
                                      data-table-id="my-table-wrap-1" 
                                      data-row-index="1" 
                                      data-button-type="del" 
                                      data-original-title="删除"
                                      class="btn-delcfg text-muted" data-name="name"><i class="fa fa-times"></i></a></td>
                                  </tr>
                                  <tr>
                                      <td>语言</td>
                                      <td>
                                        <div class="row">
                                          <div class="col-sm-8 col-xs-12">
                                            <dl class="fieldlist" data-name="row[languages]" data-listidx="0">
                                              <dd>
                                                <ins>键名</ins>
                                                <ins>键值</ins>
                                              </dd>
                                              <div class="drag-wrap" id="my-table-wrap-2">
                                              <dd class="form-inline"><input type="text" name="row[languages][0][key]"
                                                  class="form-control" value="backend" size="10"> <input type="text"
                                                  name="row[languages][0][value]" class="form-control" value="zh-cn"
                                                  size="30"> 
                                                  <span
                                                  data-toggle="operate-table" 
                                                  data-table-id="my-table-wrap-2" 
                                                  data-row-index="4" 
                                                  data-button-type="del" 
                                                  class="btn btn-sm btn-danger btn-remove">  <i class="fa fa-times"></i></span>  
                                                  <span
                                                    class="btn btn-sm btn-primary btn-dragsort"><i
                                                    class="fa fa-arrows"></i></span></dd>
                                              <dd class="form-inline"><input type="text" name="row[languages][1][key]"
                                                  class="form-control" value="frontend" size="10"> <input type="text"
                                                  name="row[languages][1][value]" class="form-control" value="zh-cn"
                                                  size="30"> 
                                                  <span
                                                  data-toggle="operate-table" 
                                                  data-table-id="my-table-wrap-2" 
                                                  data-row-index="3" 
                                                  data-button-type="del" 
                                                  class="btn btn-sm btn-danger btn-remove">  <i class="fa fa-times"></i></span> 
                                                  <span class="btn btn-sm btn-primary btn-dragsort"><i
                                                    class="fa fa-arrows"></i></span></dd>
                                              </div>
                                              <dd><a href="javascript:;" 
                                                data-url="" 
                                                data-toggle="operate-table" 
                                                data-table-id="my-table-wrap-2" 
                                                data-row-index="4" 
                                                data-button-type="add-new" 
                                                data-original-title="追加"
                                                class="btn btn-sm btn-success btn-append">
                                                <i class="fa fa-plus"></i> 追加</a></dd>
                                              <textarea name="row[languages]" class="form-control hide" cols="30"
                                                rows="5">{"backend":"zh-cn","frontend":"zh-cn"}</textarea>
                                            </dl>
                                          </div>
                                          <div class="col-sm-4"></div>
                                        </div>

                                      </td>
                                      <td>{$site.languages}</td>
                                    <td><a 
                                      href="javascript:;" 
                                      data-url="" 
                                      data-toggle="operate-table" 
                                      data-table-id="my-table-wrap-1" 
                                      data-row-index="3" 
                                      data-button-type="del" 
                                      data-original-title="删除"
                                      class="btn-delcfg text-muted" data-name="name"><i class="fa fa-times"></i></a></td>
                                  </tr>
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <td></td>
                                      <td>
                                          <button type="submit" class="btn btn-success btn-embossed">确定</button>
                                          <button type="reset" class="btn btn-default btn-embossed">重置</button>
                                      </td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                              </tfoot>
                            </table>
          
                        </form>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="addcfg">
                      <!-- 含校验功能的表单，form添加class名 validator-form 各个表单配置对应的data-rule规则，具体参照https://validator.niceue.com/-->
                      <form class="validator-form form-horizontal" method="POST" action="/admin/general.config/add">
                        <div class="form-group">
                          <label for="type" class="control-label col-xs-12 col-sm-2">类型:</label>
                          <div class="col-xs-12 col-sm-4">
                            <select class="form-control" name="_type" data-rule="required;">
                              <option value="">请选择</option>
                              <option value="number">数字</option>
                              <option value="txt">文本</option>
                              <option value="date">日期</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="name" class="control-label col-xs-12 col-sm-2">变量名:</label>
                          <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" name="_names" 
                              data-rule="required;length(6~16)">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="name" class="control-label col-xs-12 col-sm-2">变量规则:</label>
                          <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" name="_rules" 
                              data-rule="required;length(6~16)">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="name" class="control-label col-xs-12 col-sm-2">提示信息:</label>
                          <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" name="_tips" data-rule="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="name" class="control-label col-xs-12 col-sm-2">扩展属性:</label>
                          <div class="col-xs-12 col-sm-4">
                            <textarea name="_expand" cols="30" rows="5" class="form-control" data-rule=""></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="name" class="control-label col-xs-12 col-sm-2">对应权限:</label>
                          <div class="col-xs-12 col-sm-4">
                            <textarea name="_expand" cols="30" rows="5" class="form-control" data-rule=""></textarea>
                          </div>
                        </div>
                        <div class="form-group animated-radio-button">
                            <label for="sex" class="control-label col-xs-12 col-sm-2" >单选</label>
                            <div class="col-xs-12 col-sm-4 form-control-label">
                                <label>
                                    <input type="radio" name="sex" value="1" data-rule="checked"><span class="label-text">单选1</span>
                                  </label>
                                  <label>
                                    <input type="radio" name="sex" value="2"><span class="label-text">单选2</span>
                                  </label>
                                  <label>
                                    <input type="radio" disabled name="sex" value="3"><span class="label-text">单选3（禁用）</span>
                                  </label>
                            </div>
                          </div>
                          <div class="form-group animated-checkbox">
                            <label for="ask" class="control-label col-xs-12 col-sm-2">多选</label>
                            <div class="col-xs-12 col-sm-4 form-control-label">
                                    <label>
                                      <input type="checkbox" name="ask" value="1" data-rule="checked(2)"><span class="label-text">多选1</span>
                                    </label>
                                    <label>
                                      <input type="checkbox" name="ask" value="2"><span class="label-text">多选2</span>
                                    </label>
                                    <label data-rule="">
                                      <input type="checkbox" disabled name="ask" value="3"><span class="label-text">多选3(禁用)</span>
                                    </label>
                                    </div>
                          </div>
                          <div class="form-group toggle lg">
                              <label class="control-label col-xs-12 col-sm-2">是否同意</label>
                              <div class="col-xs-12 col-sm-4  form-control-label">
                                  <label>
                                    <input type="checkbox" name="agree" value="1" data-rule="checked"><span class="button-indecator"></span>
                                  </label>
                                  </div>
                          </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2"></label>
                          <div class="col-xs-12 col-sm-4">
                            <button type="submit" class="btn btn-success btn-embossed">确定</button>
                            <button type="reset" class="btn btn-default btn-embossed">重置</button>
                          </div>
                        </div>

                      </form>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>